*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
}

body{
   width: 100vw;
   height: 100vh;
    background: linear-gradient(  to bottom , rgba(46, 92, 122, 0.719) , rgba(8, 153, 141, 0.753));
}

.clock{
width: 250px;
height: 250px;
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50%);
padding: 10px;
background: rgba( 255, 255, 255, 0.20 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); 
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border: 10px solid rgba( 255, 255, 255, 0.18 );

}


.hand{
width: 100px;
height: 2px;
background-color:rgba(245, 245, 245, 0.685);
position: absolute;
top: 50%;
transform-origin: 100%;
transform: rotate(90deg);
}

